
body {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.post {
    background-color: azure;
    width: 500px;
    height: 600px;
    margin-top: 100px;
}

.post-header {
    display: flex;
}

.post-header :last-child {
    flex-wrap: wrap;
}

p {
 align-self: baseline;
}

.icons {
    display: flex;
    justify-content: space-between;
    padding: 0px 10px 0px 10px;
    width: 90%;
}